<h1>Listing submissions</h1>

<table style="width: 100%">
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Submitted By</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
<% @submissions.each do |submission| %>
  <tr>
    <td><%= link_to submission.song_title, submission_path(submission) %></td>
    <td><%= submission.artist %></td>
    <td><%= submission.submitted_by.name %></td>
    <td><%= link_to 'Show', submission %></td>
    <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
    <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Submission', new_submission_path %>
